name: Lint

on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  super-linter:
    name: Super Linter
    uses: harryzcy/github-actions/.github/workflows/linter.yml@main

  readme:
    name: Correct README
    runs-on: ubuntu-24.04
    if: github.event_name == 'pull_request'
    permissions:
      pull-requests: read
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Generate README
        run: |
          python scripts/generate_readme.py

      - name: Ensure README is up to date
        run: |
          git diff --exit-code images/ubuntu/22.04/README.md
          git diff --exit-code images/ubuntu/24.04/README.md

  renovate:
    name: Renovate Config
    uses: harryzcy/github-actions/.github/workflows/renovate.yml@main
