name: Update

on:
  schedule:
    - cron: "0 2,17 * * *"
  workflow_dispatch:
  push:

permissions:
  contents: read

jobs:
  release-number:
    name: Package Version Update
    runs-on: ubuntu-24.04
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Update versions
        run: |
          python scripts/update.py
          python scripts/generate_readme.py

      # Using a GitHub App token to create the pull request,
      # so that the PR will trigger the workflows.
      # The workflows will not be triggered by "github-actions" user.
      # See https://github.com/peter-evans/create-pull-request/issues/48.
      - uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a # v2.1.0
        if: github.event_name != 'push'
        id: generate-token
        with:
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.APP_PRIVATE_KEY }}

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
        if: github.event_name != 'push'
        id: cpr
        with:
          token: ${{ steps.generate-token.outputs.token }}
          commit-message: "[chore] Update package versions"
          title: "Update package versions"
          labels: "dependencies"
          add-paths: "images/ubuntu"

      - name: Enable auto-merge
        if: steps.cpr.outputs.pull-request-operation == 'created' && github.event_name != 'push'
        uses: peter-evans/enable-pull-request-automerge@a660677d5469627102a1c1e11409dd063606628d # v3
        with:
          pull-request-number: ${{ steps.cpr.outputs.pull-request-number }}
          merge-method: "squash"
